
    <h2>Manage Category</h2>

    <div *ngIf="showMessage">
        {{responseMessage}}
    </div>

    <div *ngIf="showError">
        {{errorMessage}}
    </div>

<!--Category Form--> 
 <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Category Name</label>
        <input type="text" id="name" formControlName="name"/>
        <div *ngIf="itemForm.get('name')?.invalid && itemForm.get('name')?.touched">
            Name is required.
        </div>
    </div>

    <div>
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description"/>
        <div *ngIf="itemForm.get('description')?.invalid && itemForm.get('description')?.touched">
            Description is required.
        </div>
    </div>

    <div>
        <label for="baseRate">Base Rate</label>
        <input type="number" id="baseRate" formControlName="baseRate"/>
        <div *ngIf="itemForm.get('baseRate')?.invalid && itemForm.get('baseRate')?.touched">
            Base rate is required.
        </div>
    </div>

    <button type="submit" [disabled]="itemForm.invalid">
        {{ updateId ? 'Update Category':'Submit'}}
    </button>

</form>

<!--Category List-->
<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Base Rate</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categoryList">
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td>{{category.baseRate}}</td>
            <td>
                <button (click)="edit(category)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>