
    <h2>Manage Category</h2>

    <div *ngIf="showMessage">
        {{responseMessage}}
    </div>

    <div *ngIf="showError">
        {{errorMessage}}
    </div>

<!--Category Form--> 
 <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Category Name</label>
        <input type="text" id="name" formControlName="name"/>
        <div *ngIf="itemForm.get('name')?.hasError('required') && itemForm.get('name')?.touched" class="error-message">
            Name is required.
        </div>
        <div *ngIf="itemForm.get('name')?.hasError('minlength') && itemForm.get('name')?.touched" class="error-message">
            Name must be at least 3 characters long.
          </div>
    </div>

    <div>
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description"/>
        <div *ngIf="itemForm.get('description')?.invalid && itemForm.get('description')?.touched" class="error-message">
            Description is required.
        </div>
    </div>
<div>
  <label for="baseRate">Base Rate</label>
  <input type="number" id="baseRate" formControlName="baseRate"/>
  
  <div *ngIf="itemForm.get('baseRate')?.hasError('required') && itemForm.get('baseRate')?.touched" class="error-message">
    Base rate is required.
  </div>

  <div *ngIf="itemForm.get('baseRate')?.hasError('pattern') && itemForm.get('baseRate')?.touched" class="error-message">
    Base rate must be a valid number.
  </div>

  <div *ngIf="itemForm.get('baseRate')?.hasError('min') && itemForm.get('baseRate')?.touched" class="error-message">
    Base rate must be at least 2000.
  </div>
</div>
    <button type="submit" [disabled]="itemForm.invalid">
        {{ updateId ? 'Update Category':'Submit'}}
    </button>

</form>