<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-2">
    <a [routerLink]="['/dashboard']" class="navbar-brand">CRMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" *ngIf="roleName === 'ADMINISTRATOR'; else agentNav">
            <li class="nav-item">
                <a [routerLink]="['/category']" class="nav-link">Category</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/booking-report']" class="nav-link">Booking Report</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/payment-report']" class="nav-link">Payment Report</a>
            </li>
        </ul>

        <ng-template #agentNav>
            <ul class="navbar-nav mr-auto" *ngIf="roleName === 'AGENT'; else customerNav">
                <li class="nav-item">
                    <a [routerLink]="['/add-car']" class="nav-link">Add car</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/get-bookings']" class="nav-link">Bookings</a>
                </li>
            </ul>

            <ng-template #customerNav>
                <ul class="navbar-nav mr-auto" *ngIf="roleName === 'CUSTOMER'">
                    <li class="nav-item">
                        <a [routerLink]="['/cars']" class="nav-link">Book Car</a>
                    </li>
                </ul>
            </ng-template>
        </ng-template>
    </div>
    <button (click)="logout()" class="btn" [ngClass]="IsLoggin ? 'btn-danger': 'btn-success'">{{IsLoggin ? 'Logout': 'Login'}}</button>
</nav>
<router-outlet></router-outlet>