.payment-report-card {
  margin: 2rem 4rem;
  padding: 0;
  height: calc(100vh - 128px);
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

mat-card-header {
  padding: 2.0rem 1.5rem 0.5;
  border-bottom: 1px solid #e0e0e0;
}

mat-card-title {
  margin-top: 0.75rem;
  font-size: 1.375rem;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 0.25rem;
}

mat-card-subtitle {
  font-size: 0.875rem;
  color: #7f8c8d;
  margin-bottom: 0.75rem;
}

mat-card-content {
  display: flex;
  max-height: calc(100vh - 170px);
  flex-direction: column;
  padding: 1.5rem;
}

mat-divider {
  margin: 0;
}

.filter-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.mat-form-field {
  flex: 1;
}

.reset-button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 0.875rem;
}

.spaced-table .mat-header-cell,
.spaced-table .mat-cell {
  white-space: normal;
  vertical-align: middle;
  font-size: 0.875rem;
}

.mat-header-cell {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  text-align: center !important;
  background-color: #f5f5f5;
}

.mat-cell {
  color: #2c3e50;
  // text-align: center;
  vertical-align: middle;
}

.status-badge {
  padding: 0.25rem 0.625rem;
  border-radius: 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  text-align: center;
  min-width: 5rem;
}

.paid {
  background-color: #1976d2;
}

.pending {
  background-color: #ffb300;
}

mat-paginator {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #999;
}

@media (max-width: 48rem) {
  .payment-report-card {
    margin: 1.25rem;
  }

  mat-card-title {
    font-size: 1.125rem;
  }

  .mat-header-cell,
  .mat-cell {
    font-size: 0.8125rem;
    padding: 0.5rem;
  }

  .reset-button {
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}