.sortable {
  cursor: pointer;
}
:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

/* Container */
.table-container {
  width: 100%;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-x: hidden; /* No horizontal scroll */
}

/* Heading */
h2 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: #333;
}

th.mat-header-cell {
  color: black;
  font-size: medium;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

/* Table */
table {
  width: 100%;
  border-collapse: separate;
  table-layout: auto; /* Force columns to fit */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #f5f5f5;
}


// .card-grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//   gap: 1rem;
//   margin-top: 1rem;
// }

// .car-card {
//   transition: transform 0.2s ease-in-out;
// }

// .car-card:hover {
//   transform: scale(1.02);
// }
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.car-card {
  position: relative;
  overflow: hidden;
}

.card-image-container {
  position: relative;
}

.card-image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 1rem;
}

.card-image-container:hover .card-overlay {
  opacity: 1;
}

.overlay-content h3 {
  margin-bottom: 0.5rem;
}