<div *ngIf="role === 'ADMINISTRATOR'; else agent" class="container row m-auto">
    <div class="container card shadow col-9">
        <table class="table table-stripped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Base Rate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categoryList">
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td>{{category.baseRate}}</td>
                    <td>
                        <button (click)="editCategory(category)">Edit</button>
                        <button (click)="deleteCategory(category.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-3">
        <div class="row card shadow">
            <h4>Total Revenue</h4>
            <h2>{{totalRevenue | currency: 'INR'}}</h2>
        </div>
        <div class="row card shadow">
            <h4>Today's Revenue</h4>
            <h2>{{todayRevenue  | currency: 'INR'}}</h2>
        </div>
    </div>
</div>

<ng-template #agent> 
    <div *ngIf="role === 'AGENT'; else customer">
        
    </div>
    
    <ng-template #customer>
        <div class="container">
          <h2>My Bookings</h2>
          
          <div *ngIf="showMessage" class="alert alert-success">{{ responseMessage }}</div>
          <div *ngIf="showError" class="alert alert-danger">{{ errorMessage }}</div>
        
          <table class="table table-striped" *ngIf="bookingList.length > 0">
            <thead>
              <tr>
                <th>Booking ID</th>
                <th>Car</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Total Amount</th>
                <th>Payment Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let booking of bookingList">
                <td>{{ booking.id }}</td>
                <td>{{ booking.car.make }} {{ booking.car.model }}</td>
                <td>{{ booking.rentalStartDate | date:'dd-mm-YYYY'}}</td>
                <td>{{ booking.rentalEndDate | date:'dd-mm-YYYY' }}</td>
                <td>{{ booking.status }}</td>
                <td>{{ booking.totalAmount | currency:'INR' }}</td>
                <td>{{ booking.paymentStatus }}</td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="bookingList.length === 0">No bookings found.</p>
        </div>
    </ng-template>
</ng-template>
