<div class="container card shadow mt-5 p-3">
    <p class="m-0 p-0"><b>Username:</b> {{userDetails.username}}</p>
    <p class="m-0 p-0"><b>Email:</b> {{userDetails.email}}</p>
</div>

<!-- Category List
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Base Rate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categoryList">
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td>{{category.baseRate}}</td>
            <td>
                <button (click)="edit(category)">Edit</button>
            </td>
        </tr>
    </tbody>
</table> -->