 <mat-toolbar color="primary" class="mat-elevation-z4">
  <img src="assets/logo.png" class="logo" alt="Logo" [routerLink]="['/dashboard']" style="cursor:pointer">
  <ng-container *ngIf="roleName === 'ADMINISTRATOR'; else agentNav">
    <button mat-button [routerLink]="['/category']">Category</button>
    <button mat-button [routerLink]="['/booking-report']">Booking Report</button>
    <button mat-button [routerLink]="['/payment-report']">Payment Report</button>
  </ng-container>

  <ng-template #agentNav>
    <ng-container *ngIf="roleName === 'AGENT'; else customerNav">
      <button mat-button [routerLink]="['/add-car']">Add Car</button>
      <button mat-button [routerLink]="['/get-bookings']">Bookings</button>
    </ng-container>

    <ng-template #customerNav>
      <ng-container *ngIf="roleName === 'CUSTOMER'">
        <button mat-button [routerLink]="['/cars']">Book Car</button>
      </ng-container>
    </ng-template>
  </ng-template>

  <span class="spacer"></span>

   <!-- Profile Icon -->
   <div class="profile-logout-container">
    <div class="profile-container" (click)="toggleProfile()" aria-label="User Profile">
      <mat-icon class="profile-icon">account_circle</mat-icon>
      <div *ngIf="showProfile" class="profile-dropdown mat-elevation-z4">
        <p><strong>Username:</strong> {{ username }}</p>
        <p><strong>Email:</strong> {{ userEmail }}</p>
        <p><strong>Role:</strong> {{ roleName }}</p>
      </div>
    </div>
  </div>
  <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar> 


  